@media screen {

/* DropDown Menu Styles */
* html body {
  behavior:url("/@@csshover.htc");
  }
#portal-searchbox {
  position:relative;
  z-index:2;
  }

/*---------- BASIC STYLE one level ----------*/
#portal-globalnav {
  list-style-image:none;
  }
* html #portal-globalnav {
  position:relative;
  zoom:1;
  }
#portal-globalnav:after {
  content:"";
  clear:both;
  display:block;
  visibility:hidden;
  }
#portal-globalnav li {
  display:block;
  float:left;
  position:relative;
  }
#portal-globalnav li a {
  display:block;
  line-height:2em;
  padding:1px 1em 21px;
  }
#portal-globalnav li.selected a {
  background-color:#205C90;
  color:#fff;
  }
#portal-globalnav li a span {
  cursor:pointer; /* fix ie */
  display:block; /* fix ie */
  white-space: normal;
  }

/*----- DropDown -----*/
#portal-globalnav li ul {
  display:none;
  left:0;
  position:absolute;
  top:100%;
  z-index:1000;
  }
#portal-globalnav li:hover > ul {
  display:block;
  }
#portal-globalnav ul li {
  float:none;
  margin:0;
  }
#portal-globalnav ul li a {
  background-color:#ddd;
  border-top:1px solid #fff;
  height:auto;
  padding:0.5em 1.5em 0.5em 1em;
  vertical-align:top;
  width:12em;
  }
#portal-globalnav li.selected ul li a {
  background-color:#ddd;
  color:#205C90;
  }
#portal-globalnav li ul ul {
  top:0;
  left:100%;
  }
#portal-globalnav ul li a.hasChildrens {
  background-color:#ddd;
  }
#portal-globalnav ul li a.hasChildrens:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #fff;
  display: block;
  position: absolute;
  right: 1em;
  top: 12px;
  }
#portal-globalnav ul li a.hasChildrens:hover {
  background-color:#205C90;
  }
#portal-globalnav:hover li:hover > a {
  background-color:#205C90;
  color:#fff;
  }
#portal-globalnav:hover li:hover ul > a {
  background-color:#ddd;
  color:#205C90;
  }
#globalnav-toggle,
.globalnav-toggle,
#portal-globalnav-mobile {
  display:none;
  }
}

@media (max-width:767px) {
#globalnav-wrapper.mobileMenuOn {
  display:none;
  }
.mobileMenu {
  background-color: #ddd;
  margin: 0 0 0.5em;
  padding:0.5em;
  }
#portal-globalnav-mobile {
  display:block;
  min-width:150px;
  }
#globalnav-wrapper {
    margin: 0 0 1em;
    }
#portal-globalnav {
  display: none;
  }
#portal-globalnav li {
  float: none;
  }
#portal-globalnav > li > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0;
  padding: 0.5em 1em;
  position: relative;
  width: 100%;
  }
#portal-globalnav li:hover > ul {
  display: none;
  }
#portal-globalnav li ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  }
#portal-globalnav ul li a {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
#portal-globalnav ul li a {
  border: 0;
  }
#portal-globalnav ul.globalSectionsLevel1 > li > a {
  padding: 0.5em 1.5em 0.5em 2em;
  }
#portal-globalnav ul.globalSectionsLevel2 > li > a {
  padding: 0.5em 1.5em 0.5em 3em;
  }
#portal-globalnav ul.globalSectionsLevel3 > li > a {
  padding: 0.5em 1.5em 0.5em 4em;
  }
#portal-globalnav ul li a.hasChildrens:hover,
#portal-globalnav ul li a.hasChildrens {
  background-image: none;
  }
#portal-globalnav li ul ul {
  left: 0;
  }
#portal-globalnav .plus.open > a {
  background-color: #205c90;
  color: #fff;
  }
#portal-globalnav .plus > a:before,
#portal-globalnav ul li a.hasChildrens:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  display: block;
  position: absolute;
  right: 1em;
  top: 1.3em;
  }
  
/* Navbar Toggle */
#globalnav-wrapper .globalnav-toggle {
  background-color: #ddd;
  border: 0;
  display: block;
  outline: 0;
  padding: 0.7em 0;
  width: 100%;
  }
#globalnav-wrapper.open .globalnav-toggle,
#globalnav-wrapper .globalnav-toggle:hover {
  background-color: #205c90;
  }
#globalnav-wrapper .globalnav-toggle .icon-bar {
  background-color: #205c90;
  display: block;
  height: 3px;
  margin: 3px auto;
  width: 23px;
  cursor: pointer;
  }
#globalnav-wrapper.open .globalnav-toggle .icon-bar,
#globalnav-wrapper .globalnav-toggle:hover .icon-bar {
  background-color: #fff;
  }
#globalnav-toggle:checked ~ .globalnav {
  display: block !important;
  }
}

@media print {
.mobileMenu {
  display: none;
  }
}